.footer-text {
    background-color: #e0ffff;
    // font-weight: 300;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #000;
    padding: 47px 0;
    margin: 0 auto;
}

.footer-text--color {
    font-weight: 700;
    color: #18CFAB;
    padding-right: 15px;
    position: relative;
}

.footer-text--color::after {
    content: '';
    position: absolute;
    bottom: 1.5px;
    right: 7.5px;
    width: 2px;
    height: 24px;
    background-color: #000;
}