.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0ffff;
  padding: 20px 60px;
}

#enter,
#createVisit {
  display: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  align-items: center;
  box-shadow: 5px 5px rgb(173, 170, 170);
  border-radius: 10px;
  padding: 15px 0;
  margin-left: 20px;
  background-color: rgb(143, 213, 218);
  width: 300px;
  cursor: pointer;
}